/* boiler plate styling */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

/* hover styling */
nav a:hover {
    color: #98C1D9;
    font-weight: 600;
}

.contact-me:hover {
    color: #293241;
    background-color: #FFF4E5;
    transition-duration: 0.3s;
    box-shadow: -8px 10px #EE6C4D;
}

.icon:hover {
    border: 4px solid #293241;
}

.top-button:hover {
    text-decoration: underline;
}

.nav-logo:hover {
    transition: all 0.5s ease-in;
    transform: scale(1.1);
}

.project-link:hover {
    color: #FFF4E5;
    background-color: #293241;
    transition-duration: 0.3s;
}

.view-all:hover {
    color: #293241;
    background-color: #FFF4E5;
    transition-duration: 0.3s;
}

/* entire page styling */
body {
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    color: #FFF4E5;
    background-color: #293241;
    max-width: 19rem;
    width: 100%;   
    display: flexbox;
    flex-wrap: wrap;
    max-width: 300rem;
}

body a {
    text-decoration: none;
    color: #FFF4E5;
}

/* nav */
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

nav li {
    list-style-type: none;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center; 
}

nav a {
    display: block;
    justify-content: space-between;
    margin-top: 1rem;
}

nav .contact-me {
    background-color: #3D5A80;
    padding: .75rem 1rem;
    border: 3px solid #fff4e5;
    border-radius: 10px;
    font-weight: 600;
}

.nav-logo {
    position: relative;
    margin: 2rem;
    width: 6rem;
    align-content: center;
}

@media (min-width: 670px) {
    nav {
        display: flex;
        flex-direction: row;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }

    .nav-links a {
        margin-right: 1.5em;
    }

    .contact-me {
        margin-right: 2em;
    }

    .nav-logo {
        margin-left: 2em;
    }
    
}

/* header */
header {
    display: grid;
    padding: .75rem;
    /* max-width: 19rem; */
}

.header-text {
    line-height: normal;
    z-index: 2;
    text-wrap: wrap;
    padding-top: 4rem;
    padding-left: .5rem;
    margin: 0 auto;
}

.header-image {
    padding-top: 2rem;
    z-index: 1; 
    margin: 0 auto;
}

header h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.2rem;
    margin: 0 auto;
}

header h2 {
    font-size: 1em;
    font-weight: 400;
    margin-top: 1rem;
}

.header-image img {
    width: 250px;
    /* justify-content: center; */
}

@media (min-width: 900px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }

    .header-text {
        padding-top: 2rem;
        padding-left: 2rem;
    }

    header h1 {
        font-size: 3rem;
    }

    header h2 {
        font-size: 1.5rem;
    }

    .header-image img {
        width: 400px;
    }
}


/* main */
/* projects section */

.projects {
    background-color: #98C1D9;
    width: 100%;
}

.section-title {
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    color: #293241;
}

.projects-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
}

.project-card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    background: #FFF4E5;
    color: #293241;
    border-radius: 10px;
    box-shadow: -8px 10px #3D5A80;
    margin: 0 auto;
}

.top-of-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    margin-bottom: 2rem;
}

.project-card img {
    width: 240px;
    border-radius: 4%;
}

.title-flex {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    color: #293241;
}

.title-flex p {
    margin-top: .5rem;
    font-style: italic;
    font-size: 1rem;
}

.project-title {
    font-size: 1.5rem;
    border-left: 3px solid #EE6C4D;
    padding-left: 1rem;
}

.project-link {
    display: flex;
    position: relative;
    text-align: center;
    font-size: 1.1rem;
    margin: 0 auto;
    color: #fff4e5;
    font-weight: 600;
    padding: 1rem 1.5rem;
    background-color: #3D5A80;
    margin-top: 1rem;
    border-radius: 5px;
}

.description {
    font-size: 1rem;
    font-weight: 500;
}

.view-all-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.view-all {
    background-color: #3D5A80;
    padding: 1.25rem;
    border: 2px solid #FFF4E5;
    border-radius: 10px;
    margin: 0 auto;
    font-weight: 800;
}

.projects-container .view-all {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

@media (min-width: 900px) {
    
    .project-card {
        padding: 1.5rem;
    }

    .project-card img {
        width: 300px;
    }

    .project-title {
        font-size: 2rem;
    }

    .description {
        font-size: 1.25rem;
    }

    .project-link {
        font-size: 1.25rem;
    }

    .view-all {
        padding: 1.5rem;
    }

    .section-title {
        font-size: 2.5rem;
    }
}

/* goals section */
.goals {
    display: flex;
    background-color: #3D5A80;
    height: auto;
}

.goals h3 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.goals-background {
    color: #FFF4E5;
    padding: 2.5rem;
    margin: 0 auto;
}

.goals-text {
    margin-bottom: 1rem;
}

.goals-text li {
    font-size: 1.2rem;
}

@media (min-width: 900px) {

    .goals h3 {
        font-size: 2.5rem;
    }

    .goals-text li {
        font-size: 1.5rem;
    }
}

/* about me section */
.about {
    display: grid;
}

.about h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.1rem;
}

.about-image {
    /* width: 50%; */
    background-color: #98C1D9;
    /* border: 1rem solid #98c1D9; */
    padding: 2rem 1rem;
    text-align: center;
}

.about-image img {
    width: 250px;
    border-radius: 10%;
    border: 6px solid #FFF4E5;
    box-shadow: -8px 10px #3D5A80;
}

.about-text {
    /* width: 50%; */
    padding: 1.5rem 1.5rem;
    color: #293241;
    background-color: #FFF4E5;
}

.about-text .links {
    margin-top: 3rem;
}

.links h4 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

/* styling for icons in about me section */

.links img {
    width: 3.75rem;
    border: 3px solid #EE6C4D;
    border-radius: 20%;
    padding: .5rem;
}

@media (min-width: 900px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-image {
        padding: 2rem;
    }

    .about-text {
        padding: 2rem;
    }

    .about h3 {
        font-size: 2.5rem;
    }

    .about p {
        font-size: 1.25rem;
        max-width: 700px;
    }

    .about-image img {
        width: 300px;
    }

    .links img {
        width: 4rem;
    }

    .links h4 {
        font-size: 1.4rem;
    }
}


/* return to top of page */
.top-of-page {
    /* width: 100%; */
    background-color: #EE6C4D;
    color: #000;
    text-align: center;
    padding: 1rem 0;
    font-weight: 500;
}

.top-of-page a {
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

/* footer */
footer {
    padding: 2rem 1rem;
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}

footer p:last-of-type {
    font-style: italic;
}

.heart {
    color: #EE6C4D;
}

@media (min-width: 670px) {
    footer {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 900px) {
    footer {
        font-size: 1.2rem;
    }
    
}