*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hover styling */
nav a:hover {
    color: #98C1D9;
    font-weight: 600;
}

.contact-me:hover {
    color: #293241;
    background-color: #FFF4E5;
}

.icon:hover {
    border: 4px solid #293241;
}

/* entire page styling */
body {
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    color: #FFF4E5;
    background-color: #293241;
}

body a {
    text-decoration: none;
    color: #FFF4E5;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
}

nav li {
    list-style-type: none;
    display: inline;
}

nav a {
    margin: 0 1rem;
}

nav .contact-me {
    background-color: #EE6C4D;
    padding: 0.5rem 1rem;
    border: 3px solid #fff4e5;
    border-radius: 10px;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

.header-text {
    margin-left: 2rem;
}

.header-image {
    padding: 3rem;
    align-items: center;
    align-content: center;
    margin-left: 3rem;
}

header h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 5rem;
}

header h2 {
    font-size: 1.3em;
    font-weight: 400;
}

.header-image img {
    width: 500px;
    position: static;
}
/* main */

/* projects section */

.projects {
    background-color: #98C1D9;
    width: 100%;
    height: auto;
    padding: 3rem;
}

.projects h3 {
    font-size: 3rem;
}

.projects .categories {
    
}


/* goals section */
.goals {
    display: flex;
    background-color: #3D5A80;
    width: 100%;
    height: auto;
}

.goals h3 {
    font-size: 3rem;
}

.goals-background {
    color: #FFF4E5;
    padding: 4rem 15rem;
    margin: 0 auto;
}

.goals-text{
    margin-bottom: 3.5rem;
}

.goals-text li {
    font-size: 1.5rem;
}

/* about me section */
.about {
    display: flex;
}

.about h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about p {
    padding-right: 2rem;
}

.about-image {
    width: 50%;
    background-color: #98C1D9;
    border: 2rem solid #98c1D9;
    padding: 2rem 2rem;
    text-align: center;
}

.about-image img {
    width: 350px;
    border-radius: 10%;
    border: 6px solid #FFF4E5;
    box-shadow: -8px 10px #3D5A80;
}

.about-text {
    width: 50%;
    padding: 4rem 3rem;
    color: #293241;
    background-color: #FFF4E5;
}

.about-text .links {
    margin-top: 3rem;
}

/* styling for icons in about me section */

.links img {
    width: 4rem;
    border: 4px solid #EE6C4D;
    border-radius: 20%;
    padding: .5rem;
}
/* return to top of page */
.top-of-page {
    width: 100%;
    background-color: #EE6C4D;
    text-align: center;
    padding: 1rem 0;
    font-weight: bold;
}

/* footer */
footer {
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
}

footer p:last-of-type {
    font-style: italic;
}

.heart {
    color: #EE6C4D;
}